.Gallery-Home{
    width: 1200px;
    margin: auto;
    padding-top: 100px;
}
.Gallery1{
    width: 600px;
    height: 500px;
    background-color: grey;
    float: left;
}
.Gallery2{
    width: 500px;
    height: 240px;
    background-color: #b73737;
    float: left;
    margin-left: 15px;
}
.Gallery3{
    width: 230px;
    height: 245px;
    background-color: #37b784;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.Gallery4{
    width: 255px;
    height: 500px;
    background-color: white;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.Gallery5{
    width: 200px;
    height: 230px;
    background-color: #4eb737;
    float: left;
    margin-top: -240px;
}
.Gallery6{
    width: 385px;
    height: 230px;
    background-color: #b7375b;
    float: left;
    margin-top: -240px;
    margin-left: 215px;
}
.Gallery7{
    width: 230px;
    height: 230px;
    background-color: #b7a637;
    float: left;
    margin-top: -240px;
    margin-left: 615px;
}